---
   - hosts: localhost
     become: yes
     tasks:
       - name: Clone a github repository
         git:
          repo: https://github.com/prabhuu31/monitor.git
          dest: /home/prabhu/gitansi
          
          
          clone: yes
          update: yes
      
       - name: Install packages 
         shell: npm install
         args:

           chdir: /home/prabhu/gitansi/Documents/dashboard-monitor-master
           
       - name: Build
         shell: ng build
         args:
 
           chdir: /home/prabhu/gitansi/Documents/dashboard-monitor-master
     
       - name: test
         shell: pm2 start "ng test"
         args:
 
           chdir: /home/prabhu/gitansi/Documents/dashboard-monitor-master
       - name: run
         shell: pm2 start "ng serve"
         args:
             chdir: /home/prabhu/gitansi/Documents/dashboard-monitor-master   
...             
